.container {
  width: 322px;
  height: 14px;

  border-radius: 20px;
  border: 1px solid var(--green);
}

.main {
  width: 96.873px;
  height: 14px;

  border-radius: 20px;
  border: 1px solid var(--green);
  background: var(--green);
}