@import "/src/styles/colors";
@import "/src/styles/fonts";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media (max-height: 768px) {
  .container {
    gap: 20px;
  }
}

.blockContainer {
  display: flex;
  gap: 20px;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  @include Header2;
  color: var(--black);
  display: flex;
  width: 100%;
  justify-content: center;
}
.input, .button, .input__file {
  @include Body;

  display: flex;
  width: 343px;
  padding: 16px;
  border: none;
  border-radius: 10px;
}
.input {
  background: var(--darklight);
  align-items: flex-start;
}

.button {
  background: var(--green);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link{
  text-decoration: none;

}

.link1 {
  @include SubBody2;
  color: var(--darkgray);
}
.link2 {
  @include SubBody;
  color: var(--darkgray);
}

.error {
  color: red;
  display: flex;
  justify-content: start;
  width: 347px;
}
