@import "/src/styles/colors";
@import "/src/styles/fonts";


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include Header1;
  color: var(--green);

  font-size: 72px;
  font-weight: 700;
}

.leftAngle, .rightAngle {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  user-select: none;

  width: 40%;

  min-width: 20%;
}

.icon{
  width: 43px;
  height: 43px;
}

.leftAngle {
  left: 0;
  top: 0;
}

.rightAngle {
  right: 0;
  bottom: 0;
}