@import "/src/styles/colors";
@import "../../assets/fonts/ProximaSoft/stylesheet.css";
@import "/src/styles/fonts";




.subtitle {
  @include Body;
  color: var(--green);

  font-weight: 500;
  display: flex;
  text-align: start;
  width: 100%;
  margin-bottom: 80px;
}